.form-header {
  font-family: Montserrat, sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  color: #121212;
  opacity: 0.5;
}

form {
  text-align: left;
  padding: 0 6.25rem;
  margin-bottom: 2rem;
}

.inputs {
  display: grid;
  grid-template-columns: 2fr 1fr 0.5fr;
}

input {
  height: 4vh;
  border: none;
  padding: 5px 10px;
  margin-right: 5px;
  font-family: Montserrat, sans-serif;
}

#title {
  width: 90%;
}

#category {
  width: 85%;
}

button {
  font-family: RobotoSlab, sans-serif;
  font-weight: bold;
  width: 90%;
}
