.grid-container {
  display: grid;
  grid-template-columns: 1.5fr 1.5fr 0.5fr 1fr;
  padding: 2rem 1.68rem;
  align-items: center;
}

.grid-item {
  padding: 10px;
  gap: 0.2525rem;
  font-family: RobotoSlab, sans-serif;
}

.items-1 {
  display: flex;
  flex-direction: column;
  justify-self: left;
  text-align: left;
  font-weight: bold;
}

.items-1 h2 {
  margin: 0.188rem 0 0;
  font-size: 1.375rem;
  color: #121212;
}

.items-1 p {
  font-size: 0.875rem;
  color: #121212;
  opacity: 0.5;
  font-family: Montserat, sans-serif;
}

.items-1 .author {
  color: #4386bf;
  font-weight: 300;
}

.items-2 {
  display: flex;
  align-items: center;
  font-family: Montserat, sans-serif;
}

.progress {
  text-align: left;
  color: #121212;
  margin-left: 1.35rem;
  line-height: normal;
  gap: 0.063rem;
}

.percent {
  font-size: 2rem;
  margin: 0;
}

.completed {
  opacity: 0.5;
  font-size: 0.875rem;
  margin: 0;
}

.items-3 {
  text-align: left;
  color: #121212;
  margin-left: 1.35rem;
  line-height: normal;
  gap: 0.063rem;
  font-family: RobotoSlab, sans-serif;
}

.current {
  opacity: 0.5;
}

button {
  background-color: #0290ff;
  color: #fff;
  padding: 0.5rem 1.35rem;
  border-radius: 5px;
  border-style: none;
}

.vl {
  border-left: 2px solid rgb(196 194 194);
  height: 15vh;
  margin-left: 40px;
}

.remove-btn {
  width: 40%;
}
